<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>

<p>Wir freuen uns über jede Nachricht:</p>

<p>Gemeinsam unter: <a href="mailto:wedding@parsons-hense.info">wedding@parsons-hense.info</a></p>

<p>Getrennt unter:
<ul>
	<li>Phil: <a href="mailto:phil@parsons.uk.com">phil@parsons.uk.com</a></li>
	<li>Steffi: <a href="mailto:steffihense@gmail.com">steffihense@gmail.com</a></li>
	</ul>
</p>	

