<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>

<p>Feel free to contact us if you have any questions.</p>

<p>Phil - <a href="mailto:phil@parsons.uk.com">phil@parsons.uk.com</a></p>
<p>Steffi - <a href="steffihense@gmail.com">steffihense@gmail.com</a></p>