<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>

<p>Feel free to contact us if you have any questions.</p>

<p>You can get us both on <a href="mailto:wedding@parsons-hense.info">wedding@parsons-hense.info</a></p>

<p>Or separately if you prefer:
	<ul>
		<li>Phil - <a href="mailto:phil@parsons.uk.com">phil@parsons.uk.com</a></li>
		<li>Steffi - <a href="mailto:steffihense@gmail.com">steffihense@gmail.com</a></li>
	</ul>
</p>