<% provide(:title, "Deutsche und englische Hochzeiten") %>
<h1>Deutsche und englische Hochzeiten</h1>

<p>Wie am Anfang erwähnt, gibt es einige Unterschiede zwischen traditonell englischen und traditionell deutschen Hochzeiten. Für Euch alle aus Deutschland wird alles recht normal wirken, aber für die englischsprachigen Gäste wird es doch die eine oder andere unbekannte Situation geben. Um allzu große Überraschungen zu vermeiden, haben wir einmal die größten Unterschiede beschrieben und den englischsprachigen Gästen erklärt. Allerdings können wir uns auch gut vorstellen, dass der eine oder andere von Euch interessiert ist, zu erfahren, welche Unterschiede es gibt, und so haben wir auch für Euch die Unterschiede einmal zusammengefasst. </p>

<%= image_tag("pic05.jpg", class: "left inline") %>
<p>Es handelt sich dabei um 3 größere Unterschiede:
<ol>
	<li>Die standesamtliche und kirchliche Trauung können in England in einer einzelnen Veranstaltung kombiniert werden. </li>
	<li>In England ist die Hochzeit eine durchgehende Veranstaltung ohne Pause.</li>
	<li>Die Hochzeiten in England enden häufig schon gegen Mitternacht.</li>
</ol></p>

<p>Wenn man sich als Paar entscheidet, kirchlich in Deutschland zu heiraten, heißt das automatisch, dass es 2 getrennte Veranstaltungen gibt: die standesamtliche und die kirchliche Trauung. Dies ist in England anders. In England hängt die rechtliche Anerkennung einer Hochzeit davon ab, ob die Lokalität der Hochzeit, also der Veranstaltungsort, dementsprechend anerkannt und registriert ist. Da viele Kirchen in England als erlaubte Veranstaltungsorte registriert sind, sind Trauungen in diesen Kirchen rechtlich anerkannt und es muss deshalb keine zweite Veranstaltung stattfinden. <p>

<%= image_tag("pic06.jpg", class: "right inline") %>
<p>Oft gibt es bei Hochzeiten in Deutschland - wie auch bei unserer Hochzeit - eine Pause zwischen dem Empfang nach der Kirche und dem Festmenü am Abend. Auf diese Pause wird in England verzichtet und das Festmenü, genannt Wedding Breakfast, schließt sich unmittelbar an den Empfang nach der Kirche an. Nach dem Essen geht es dann wie in Deutschland mit Tanzen und Feiern weiter.</p>

<p>Viele kennen sicherlich die Geschichten und Vorurteile über die Sperrstunde in England. Noch heute hat sie von Bedeutung bei Hochzeiten, denn in der Regel schließt die Bar um Mitternacht, und dann ist kurze Zeit später auch Schluß mit Tanzen und Feiern. Man könnte meinen, die Engländer feiern viel weniger, aber wenn man sich überlegt, dass man viel früher mit Tanzen anfängt, da das Festmenü direkt an den Empfang anschließt, ist der Unterschied gar nicht so groß. Aber egal, wir haben unsere englischsprachigen Gästen schon mal vorgewarnt, dass es eine lange Nacht werden wird!</p>