<% provide(:title, "German vs English Weddings") %>
<h1>German vs English weddings</h1>

<p>As mentioned in the introduction, there are a few minor differences between a German and an English wedding. In order to make sure you always feel comfortable and know what is happening, we wanted to give you an idea of those differences. </p>

<p>From our point of view it really comes down to three key differences:
<ol>
	<li>Church and civil ceremony are separate events in Germany</li>
	<li>There is a break in the day</li>
	<li>The party lasts much, MUCH longer in Germany</li>
</ol></p>

<p>1) In Germany, a wedding usually consists of two events: The civil ceremony and the church ceremony. <br>
We're not really sure what the story or reason is, but effectively you can't just have one big ceremony and sign the forms during the church ceremony. Instead couples usually have the civil ceremony a few days to a few weeks before the church ceremony with only a few family members and witnesses.</p> 

<p>The same will apply to us. We have decided to have our civil ceremony a few weeks before the church ceremony to make sure this important day does not blur into the rest of the wedding party with all of you. This separate event is usually much smaller than the church ceremony and we are planning to celebrate it with only a few family members. </p>

<p>2) Unlike English weddings, German weddings have a break. <br>
As you can see from the timetable, the festivities on the big day will start with the church ceremony followed by a reception. After that reception, there will be a break of about 2 hours during which all guests can return to the hotels to relax for a while and prepare for the evening. Some might even decide to change though if you don't feel like changing outfits, that's okay too, we don't plan to change either.  After the break, the wedding festivities will continue with a formal dinner and lots of dancing. </p>

<p>3) German wedding celebrations usually last until the early hours of the following morning. <br>
This is not due to the fact that Germans know how to party stronger harder or longer, but mostly due to the timetable on the wedding day itself. As the meal at German weddings usually starts a bit later the event carries on a bit later and there are no real rules governing when the venue will close.  So we just wanted to warn you that the celebrations can last until 3, 4 or 5am in the morning in case you need to adjust your sleep cycle!</p>