<% provide(:title, "Welcome to our Wedding Website") %>

<h1>Wilkommen to our Wedding Website!</h1>

<p>Lieber family and friends,</p>

<p>We’re glad that you found your way to this homepage and are excited to celebrate our wedding with you<% if signed_in? %> on 14 June 2014<% end %>.</p>

<% if signed_in? %>

<%= image_tag("pic01.jpg", class: "left inline") %>
	<p>We appreciate that quite a lot of you will have to travel to come to Burg Schwarzenstein so to make it as easy as possible for you, we have done some research and summarized key information on this homepage.</p>

	<p>You can find details on what will take place, when and where, how to get to the different venues and what hotels are in the area. </p>

	<p>In addition, we also provide you with a brief overview of differences between an English and a German wedding, which will be especially important for our guests from the UK. Don’t worry, it’s nothing too major, there will still be a white dress and a lovely celebration, but there are just a few things we want to point out so you know what is going on. </p>

	<p>For those of you thinking about spending a few more days in the region, we have included some details on the region and made some suggestions as to what you can explore and what you shouldn’t miss. </p>

	<p>Once we have confirmed all the details and finalized the list, you will find a link to our gift registry from here, so please keep checking back. 	Finally, we include a place to RSVP and contact us.</p> 

	<p>We hope you enjoy exploring the details and find some answers, but please feel free to contact us directly with any questions or suggestions. </p>

<% else %>
	<p>Just so we can avoid too many random visitors we ask that you quickly register your name and email address with us.  If you've already done that you can just sign in instead.</p>
	
<% end %>
<p>Thanks</p>

<p>Steffi and Phil</p>

<% if not signed_in? %>
	<div class="row">
		<div class="span6 offset3">
			<%= link_to "Sign in", signin_path, class: "btn btn-large" %>
			<%= link_to "Register", registration_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% end %>

