<% provide(:title, "Hotels") %>
<h1>Hotels</h1>

<%= image_tag("pic02.jpg", class: "right inline") %>

<p>As promised, below are some recommendations in terms of hotels in the area. All the hotels listed here are located in the vicinity of the different venues and no more than a short taxi ride away.  Furthermore, we're working on various possibilities to simplify the transfer for our guests to and from Burg Schwarzenstein for the festivities on Saturday. </p>

<p>We have been in touch with all these hotels and have reserved some rooms for the weekend and some have special pricing, so please make sure to mention the wedding otherwise you might find there are no rooms available or you pay a higher rate!  We'll have to release any unused rooms on 15th February so please try to book as soon as possible.</p>

<br>

<div class="well well-small">
<strong><p><a href = "http://www.burg-schwarzenstein.de/en/home">Burg Schwarzenstein</a></strong> is the venue for the festivities Saturday night. You can't really get much closer than this.</p>

<p>Distance to venue: 0<br>
Arranged rates: Double room €130 to €240<br>
Booking: Mention Hense/Parsons. The best way to get in touch with them is to email (<a href="mailto:info@burg-schwarzenstein.de">info@burg-schwarzenstein.de</a>) or call: +49 67 22 99 500<br>
Address: Rosengasse 32, 65366 Geisenheim - Johannisberg</p>
</div>

<div class="well well-small">
<strong><p><a href="http://www.gaestehaus-strieth.de/">Gästehaus Strieth</a></strong> is located in Oestrich Winkel and is holding 15 rooms for us.

<p>Distance to venue: 3.5km / ~7 mins by car<br>
Arranged rates: Single room €45; Double room €78 to €90<br>
Booking: Mention Hense/Parsons.  The best way to get in touch with them is by email as well (<a href="mailto:info@gaestehaus-strieth.de">info@gaestehaus-strieth.de</a>) or call: +49 67 23 99 580<br>
Address: Hauptstraße 128, 65375 Oestrich-Winkel</p>
</div>

<div class="well well-small">
<strong><p><a href="http://www.fb-schoenleber.de/">FB Schönleber</a></strong> is also in Oestrich Winkel, quite close to Gästehaus Strieth, and is holding 10 rooms for us.</p>

<p>Distance to venue: 4km / ~8 mins by car<br>
Arranged rates: Double room €88 to €100<br>
Booking: Mention Hense/Parsons. The best way to get in touch with them is by email as well (<a href="mailto:hotel@fb-schoenleber.de">hotel@fb-schoenleber.de</a>) or call: +49 67 23 91 760<br>
Address: Hauptstraße 1b, 65375 Oestrich-Winkel</p>
</div>
