<% provide(:title, "Hotels") %>
<h1>Hotels</h1>

<p>As promised, below are some recommendations in terms of hotels in the area. All the hotels listed here located in the vicinity of the venue on Saturday and church and no more than a short taxi ride.</p>

<p>We have been in touch with all these hotels and have reserved some rooms with special pricing, so please make sure to mention the wedding otherwise you might find there are no rooms available!  We'll have to release any unused rooms nearer the time so please try to book as soon as possible.</p>

<p><a href = "http://www.burg-schwarzenstein.de/en/home">Burg Schwarzenstein</a> is the venue for the festivities Saturday night. You can't really get much closer than this.</p>

<p>Distance to venue: 0<br>
Arranged rates: €130 to €240<br>
Book under: The best way to get in touch with them is to email (<a href="mailto:info@burg-schwarzenstein.de">info@burg-schwarzenstein.de</a>) or call: +49 67 22 99 500</p>

<p><a href="http://www.gaestehaus-strieth.de/">Gästehaus Strieth</a> is located in Oestrich Winkel and is holding 15 rooms for us.

<p>Distance to venue: 3.5km / ~7 mins by car<br>
Arranged rates: €45 to €90<br>
Book under: Hense, best to get in touch with them by email as well (<a href="mailto:info@gaestehaus-strieth.de">info@gaestehaus-strieth.de</a>) or call: +49 67 23 99 580</p>

<p><a href="http://www.fb-schoenleber.de/">FB Schönleber</a> is also in Oestrich Winkel, quite close to Gästehaus Strieth, and is holding 10 rooms for us.</p>

<p>Distance to venue: 4km / ~8 mins by car<br>
Arranged rates: €90 to €100<br>
Book under: Hense, best to get in touch with them by email as well (<a href="mailto:hotel@fb-schoenleber.de">hotel@fb-schoenleber.de</a>) or call: +49 67 23 91 760</p>