<% provide(:title, "Hotels") %>
<h1>Hotels</h1>

<%= image_tag("pic02.jpg", class: "right inline") %>

<p>Wie versprochen findet Ihr hier Vorschläge bzgl. Hotels in der Umgebung. All diese Hotels befinden sich in der Umgebung von Burg Schwarzenstein und der Evangelischen Kirche in Geisenheim und sind nicht mehr als 8-10 Minuten mit dem Auto entfernt. Außerdem arbeiten wir noch an Möglichkeiten, den Transfer zu und von Burg Schwarzenstein für die Festivitäten am Samstag für unsere Gäste zu vereinfachen.</p>

<p>Wir haben mit allen Hotels, die unten aufgelistet, gesprochen und Kontingente reserviert. Bei der Buchung erwähnt deswegen bitte, dass Ihr im Rahmen unserer Hochzeit nach Geisenheim kommt. Die Kontingente werden von den Hotels bis zum 15. Februar 2014 bereit gestellt.  Deshalb ist es ratsam, bis Anfang 2014 zu buchen!</p>

<br>
<div class="well well-sm">
<strong><p><a href = "http://www.burg-schwarzenstein.de/en/home">Burg Schwarzenstein</a><br></strong>
Wie Ihr dieser Homepage entnehmen könnt, finden der Empfang nach der Kirche, das Fest am Samstagabend und der Brunch Sonntagmorgen auf Burg Schwarzenstein statt. Viel näher am Geschehen kann man also nicht sein!</p><p><div class="center col-md-2 alert alert-danger"><b>Ausgebucht</b></div></p><br><br><br><br>

<p>Entfernung zu Burg Schwarzenstein: 0<br>
Preis: Doppelzimmer €130 bis €240<br>
Buchung: Am besten via email (<a href="mailto:info@burg-schwarzenstein.de">info@burg-schwarzenstein.de</a>) oder Telefon: +49 67 22 99 500 mit Hinweis auf Hense/Parsons<br>
Adresse: Rosengasse 32, 65366 Geisenheim - Johannisberg</p>
</div>

<div class="well well-sm">
<strong><p><a href="http://www.gaestehaus-strieth.de/">Gästehaus Strieth</a></strong> liegt in Oestrich-Winkel.</p><p><div class="center col-md-3 alert alert-warning"><b>Nur noch ein paar Zimmer übrig</b></div></p><br><br><br><br>

<p>Entfernung zu Burg Schwarzenstein: 3,5km / ~7min mit dem Auto<br>
Preis: Einzelzimmer €45; Doppelzimmer €78 bis €90<br>
Buchung: Am besten via email (<a href="mailto:info@gaestehaus-strieth.de">info@gaestehaus-strieth.de</a>) oder Telefon: +49 67 23 99 580 mit Hinweis auf Hense/Parsons<br>
Adresse: Hauptstraße 128, 65375 Oestrich-Winkel</p>
</div>

<div class="well well-sm">
<strong><p><a href="http://www.fb-schoenleber.de/">FB Schönleber</a> </strong>liegt auch in Oestrich-Winkel.</p><p><div class="center col-md-3 alert alert-warning"><b>Ausgebucht</b></div></p><br><br><br><br>

<p>Entfernung zu Burg Schwarzenstein: 4km / ~8min mit dem Auto<br>
Preis: Doppelzimmer €88 bis €100<br>
Buchung: Am besten via email (<a href="mailto:hotel@fb-schoenleber.de">hotel@fb-schoenleber.de</a>) oder Telefon: +49 67 23 91 760 mit Hinweis auf Hense/Parsons<br>
Adresse: Hauptstraße 1b, 65375 Oestrich-Winkel</p>
</div>
