<% provide(:title, "Hotels") %>
<%= image_tag("pic02.jpg", class: "right inline") %>
<h1>Hotels</h1>

<p>Wie versprochen findet Ihr hier Vorschlaege bzgl. Hotels in der Umgebung. All diese Hotels befinden sich in der Umgebung von Burg Schwarzenstein und der Evangelischen Kirche in Geisenheim und sind nicht mehr also 8-10 Minuten mit dem Auto entfernt. </p>

<p>Wir haben mit allen Hotels die unten aufgelistet sind gesprochen und Kontingente reserviert. Bei der Buchung erwähnt deswegen bitte, dass Ihr im Rahmen unserer Hochzeit nach Geisenheim kommt. Die Kontingente warden von den Hotels bis Februar – März 2014 bereit gestellt und es lohnt sich deswegen, möglichst bald zu buchen! </p>

<div class="well well-small">
<p><a href = "http://www.burg-schwarzenstein.de/en/home">Burg Schwarzenstein</a><br>
Wie ihr dieser Homepage entnehmen koennt, finden die Feierlichkeiten am Samstagabend under der Brunch Sonntagmorgen auf Burg Schwarzenstein statt. Viel naeher am Geschehen kann man also nicht sein!</p>

<p>Entfernung zu Burg Schwarzenstein: 0<br>
Preis: Doppelzimmer €130 bis €240<br>
Buchung am besten via: email (<a href="mailto:info@burg-schwarzenstein.de">info@burg-schwarzenstein.de</a>) oder Telefonl: +49 67 22 99 500<br>
Addresse: Rosengasse 32, 65366 Geisenheim - Johannisberg</p>
</div>

<div class="well well-small">
<p><a href="http://www.gaestehaus-strieth.de/">Gästehaus Strieth</a> liegt in Oestrich-Winkel und ist mit dem Auto etwa 7 Minuten von Burg Schwarzenstein entfernt.</p>

<p>Entfernung zu Burg Schwarzenstein: 3,5km / ~7min mit dem Auto<br>
Preis: Einzelzimmer €45; Doppelzimmer €78 bis €90<br>
Buchung am besten via: email (<a href="mailto:info@gaestehaus-strieth.de">info@gaestehaus-strieth.de</a>) oder Telefonl: +49 67 23 99 580<br>
Addresse: Hauptstraße 128, 65375 Oestrich/Winkel</p>
</div>

<div class="well well-small">
<p><a href="http://www.fb-schoenleber.de/">FB Schönleber</a> liegt auch in Oestrich-Winkel und ist mit dem Auto in etwa 8 Minuten zu erreichen.</p>

<p>Entfernung zu Burg Schwarzenstein: 4km / ~8min mit dem Auto<br>
Preis: Doppelzimmer €90 bis €100<br>
Buchung am besten via: email (<a href="mailto:hotel@fb-schoenleber.de">hotel@fb-schoenleber.de</a>) oder Telefonl: +49 67 23 91 760<br>
Addresse: Hauptstraße 1b, 65375 Oestrich-Winkel</p>
</div>
