<% provide(:title, "Locations") %>
<h1>Locations</h1>

<p>In the time of smartphones and SatNav systems, it might be a little bit outdated to provide details on how to get somewhere, but we still wanted to give you an overview of the different ways to get there and what approach we recommend to make the planning a little bit easier for you. </p>

<p>Here are all the key locations for the event itself, they're all very close together and you can use the map to help with directions between them or from your starting location.</p>

<p>For help finding hotels please visit the hotels page we made or for ideas on other things to do in the region please visit the page we made on the region to get you started.</p>

<p>Map has to be edited in Google maps, need to add church, confirm Ankermuhle, consider marking train stations.</p>

<p>Before we start with how to get to places, let us give you the addresses for the most important locations:</p>

<p>Venue Friday night: </p>

<p>XXX</p>

<p>Church for ceremony on Saturday:</p>

<p>Location for reception after church celebrations Saturday evening and brunch Sunday morning:</p>

<p>Burg Schwarzenstein<br>
Rosengasse 32<br>
65366 Geisenheim - Johannisberg<br></p>

<p>Now, how do you get there:</p>

<p>By air:</p>

<p>For those of you planning to come by plane, you have the choice of flying into Frankfurt Main International Airport or Frankfurt Hahn Airport. </p>

<p><a href="http://www.frankfurt-airport.com/content/frankfurt_airport/en.html">Frankfurt International Airport</a> is about 32 miles away and serviced by pretty much all big and known airlines. </p>

<p><a href="http://www.hahn-airport.de/">Frankfurt Hahn</a> is about 66 miles away and primarily serviced by Ryanair. 
</p>

<p>Once you have made it to one of these airports, you can either choose to rent a car (see below) or try public transport. If you fly into Frankfurt Hahn, you'll probably have to get a car as the public transport connections from there are not great. </p>

<p>If you fly into Frankfurt International Airport, you can do the following:
Take the <a href="http://www.rmv.de/en/">subway</a> S8 or S9 to Wiesbaden main station ("Wiesbaden Hauptbahnhof"). There change to the <a href="http://www.rheingaulinie.de/fahrplan">"Rheingau-Linie"</a>, which will take you all the way to the village the wedding will be in. The stop is called Geisenheim. </p>

<p>If you decide to rent a car from one of the airports, we recommend you do that through one of the main rental companies, <a href="http://www.hertz.com/">Hertz</a>, <a href="http://www.sixt.com/">Sixt</a> or <a href="http://www.europcar.com/">Europcar</a>.</p>

<p>By train:</p>
<p>If you decide to come by train, you'll probably want to aim for the main train station in Frankfurt or Wiesbaden for the main part of your journey. Details on connections can be found <a href="http://www.bahn.com/i/view/GBR/en/index.shtml">here</a>.</p>

<p>At both stations, you can switch to the <a href="http://www.rheingaulinie.de/fahrplan">"Rheingau-Linie"</a>, which will take you all the way to the village the wedding will be in. The stop is called Geisenheim.</p>

<p>By car: </p>

<p>If you decide to come by car, we recommend you put the postcode and address of your hotel or the church etc. into your SatNav and follow it. The postcodes in Germany are often for a much broader area than in the UK.</p>

<p>Once you have made it to the area of Geisenheim, you can use the maps provided above and on the hotels page to find your way around the local area. </p>

<p>Local taxi companies:</p>
<p>In case you need a taxi throughout the weekend, feel free to use the following details:</p>

<p>Taxi Locke: +49 (0) 6722 - 3333</p>
<p>Taxi Wagner: +49 (0) 177 - 5407973</p>
