<% provide(:title, "Lokalitäten") %>
<h1>Lokalitäten</h1>

<p>Da heutzutage fast alle Autos SatNav haben und die meisten von uns mindestens ein Smartphone immer bei sich haben, könnte man meinen, dass es nicht mehr notwendig ist, eine Wegbschreibung anzubieten. </p>

<p>Aus eigener Erfahrung wissen wir allerdings, dass es hilfreich ist, wenn man alle wichtigen Adressen auf einen Blick hat und wenigstens schon mal so grob weiß, wo es hingeht. Deswegen haben wir auf dieser Seite die Adressen aller Orte zusammengetragen, an denen Festivitäten stattfinden. Außerdem findet ihr ein paar Tips, wie man am besten in den Rheingau kommt. </p>

<p>Informationen zur Lage von verschiedenen Hotels findet ihr auf der <%= link_to "Hotel Seite", hotels_path %>.</p>

<%= image_tag("pic04.jpg", class: "right inline") %>
<p><strong>Lokalität für Freitagabend:  </strong><br>
Weingut Ankermühle<br>
Kapperweg 1<br>
65375 Oestrich-Winkel</p>

<p><strong>Kirche am Samstag:</strong><br>
Evangelische Kirche Geisenheim<br>
Winkeler Straße 83<br>
65366 Geisenheim</p>

<p><strong>Lokalität für den Empfang nach der Kirche, die Feier am Samstagabend und das Frühstück am Sonntagmorgen:</strong><br>
Burg Schwarzenstein<br>
Rosengasse 32<br>
65366 Geisenheim - Johannisberg<br></p>

<div class="container">
	<iframe width=100% height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=213619935787981326362.0004dd16626bc9fcb8416&amp;msa=0&amp;dg=feature&amp;ie=UTF8&amp;t=m&amp;ll=49.998912,7.975388&amp;spn=0.077241,0.205994&amp;z=12&amp;output=embed"></iframe><br />
	Für eine größere Ansicht der Karte bitte <a href="https://maps.google.com/maps/ms?msid=213619935787981326362.0004dd16626bc9fcb8416&amp;msa=0&amp;dg=feature&amp;ie=UTF8&amp;t=m&amp;ll=49.998912,7.975388&amp;spn=0.077241,0.205994&amp;z=12&amp;source=embed">hier</a> klicken.
</div><br>

<p><strong>Anreise per Flugzeug:</strong></p>

<p>Wer erst einmal die großen Distanzen per Flugzeug bewältigen will, steuert am besten Frankfurt International Airport oder Frankfurt Hahn Airport an. </p>

<ul><li><p>Der <a href="http://www.frankfurt-airport.com/content/frankfurt_airport/de.html">Internationale Flughafen Frankfurt</a> liegt etwa 51km von Burg Schwarzenstein entfernt und wird von den meisten großen und bekannten Airlines angeflogen.</p></li>

<li><p><a href="http://www.hahn-airport.de/">Frankfurt Hahn</a> liegt gut 100km entfernt und wird eigentlich nur von Ryanair angeflogen. </p></li></ul>

<p>Wenn Ihr an einem dieser Flughäfen gelandet seid, stellt sich die Frage, ob Ihr Euch ein Auto mietet oder Euch mit öffentlichen Verkehrsmitteln weiter vorkämpft. Solltet Ihr in Frankfurt Hahn landen, empfehlen wir Euch, ein Auto zu mieten, denn die Anbindung mit öffentlichen Verkehrsmitteln ist dort doch verbesserungsfähig.</p>

<p>Alle größeren Auto-Vermietungsgesellschaften sind an beiden Flughäfen vertreten, und so geht es eigentlich ganz leicht, ein Auto zu mieten: <a href="http://www.hertz.com/">Hertz</a>, <a href="http://www.sixt.com/">Sixt</a> or <a href="http://www.europcar.com/">Europcar</a>.</p>

<p>Solltet Ihr Euch entscheiden, Euch vom Internationalen Flughafen Frankfurt mit öffentlichen Verkehrsmitteln weiter vorzuarbeiten, dann macht Ihr das am besten wie folgt:
Mit den <a href="http://www.rmv.de/">S-Bahnen</a> S8 oder S9 bis zum Hauptbahnhof Wiesbaden fahren und dort auf die <a href="http://www.rheingaulinie.de/fahrplan">Rheingau-Linie</a> umsteigen. Diese hält unter anderem auch in Geisenheim, wo Ihr am besten aussteigt, um zu den Hotels und anderen Lokalitäten zu gelangen. </p>

<p><strong>Anreise per Bahn:</strong></p>

<p>Wenn Ihr Euch entscheidet, per Bahn anzureisen, steuert Ihr am besten erstmal die Hauptbahnhöfe in Wiesbaden oder Frankfurt an. Auf <a href="http://www.bahn.com/de">http://www.bahn.com/de</a> könnt ihr nach Verbindungen suchen.</p>

<p>An beiden Bahnhöfen könnt Ihr dann auf die <a href="http://www.rheingaulinie.de/fahrplan">Rheingau-Linie</a> umsteigen, die Euch wie oben beschrieben bis nach Geisenheim bringt.</p>

<p><strong>Anreise per Auto: </strong></p>
<p>Solltet Ihr mit dem Auto anreisen, dann gebt am besten die Postleitzahl Eures Hotels oder von Burg Schwarzenstein ins Navigations-System ein und folgt den Anweisungen!</p>

<p>Wenn Ihr erst einmal im Umfeld von Geisenheim seid, dann könnt Ihr die Karten, die wir oben und auf der Hotel-Page eingefügt habt, verwenden, um alles zu finden.</p>

<p><strong>Taxiunternehmen vor Ort</strong></p>
<p>Solltet Ihr im Laufe des Wochenendes ein Taxi brauchen, dann wendet Euch bitte an die folgenden Unternehmen:</p>

<p>Taxi Locke: +49 (0) 6722 - 3333</p>
<p>Taxi Wagner: +49 (0) 177 - 5407973</p>
