<% provide(:title, "Wedding Program") %>

<h1>Program</h1>

<%= image_tag("pic03.jpg", class: "right inline") %>
<p>While the broad format of the festivities over the weekend is confirmed and summarized below, we won't confirm the timings of the different events until closer to the wedding date so please check back later. These details will also be included in the invitations. </p>

<h2><p>Friday 13th June 2014, evening</p></h2>

<p>Welcome drinks at Weingut Ankermühle.</p>

<h2><p>Saturday 14th June 2014</p></h2>

<p>Around lunchtime, Church ceremony at Evangelische Kirche Geisenheim followed by a Champagne reception on the lawn at Burg Schwarzenstein.</p>

<p>Evening wedding celebrations at Burg Schwarzenstein.</p>

<h2><p>Sunday 15th June 2014</p></h2>

<p>Breakfast on the terrace at Burg Schwarzenstein.</p>

<br><br>

<h2><p>Dresscode:</p></h2>

<p>One of the big questions for every guest at a wedding is what the dresscode is.  Unfortunately, not everyone can have it as easy as the bride! </p>

<p>As you can see from the program above, there will be a break between the reception after the church and the evening ceremonies. In Germany, this break is sometimes used by guests to change outfits. Women often wear a short/cocktail dress to the church ceremony and then change into a long dress for the evening festivities.  Similarly, men might start in a suit and then change into a tuxedo. </p>

<p>If you want to do that, that's great, but if you don't feel like it, that's also absolutely fine. You would simply follow our approach of not changing!</p>

<p>There is no specific dresscode for Friday night or Sunday morning. What do they call it these days? Smart casual will work just fine.</p>
