<% provide(:title, "Programm") %>

<h1>Programm</h1>

<%= image_tag("pic03.jpg", class: "right inline") %>
<p>Wie Ihr unten lessen könnt, steht der grobe Ablauf der Hochzeit fest. Wir feilen allerdings noch an den Kleinigkeiten und so werden wir erst in ein paar Monaten die genauen Zeiten für die einzelnen Festlichkeiten bekannt geben können. Nähere Details werdet Ihr auch der Einladung entnehmen können. </p>

<strong><p>Freitagabend (13. Juni 2014)</p></strong>
<p>Get together im Weingut Ankermühle.</p>

<strong><p>Samstag (14. Juni 2014)</p></strong>
<p>Mittags kirchliche Trauung in der Evangelischen Kirche Geisenheim mit anschließendem Empfang auf Burg Schwarzenstein. Am Abend dann Essen und anschließende Feier ebenfalls auf Burg Schwarzenstein.</p>

<strong><p>Sonntagmorgen (15. Juni 2014)</p></strong>
<p>Zum Ausklang Frühstück auf Burg Schwarzenstein.</p>
