<% provide(:title, "Programm") %>

<h1>Programm</h1>

<%= image_tag("pic03.jpg", class: "right inline") %>
<p>Wie Ihr unten lesen könnt, steht der grobe Ablauf fest. Wir feilen allerdings noch an den Kleinigkeiten und so werden wir erst in ein paar Monaten die genauen Zeiten für die einzelnen Programmpunkte bekannt geben können. Nähere Details werdet Ihr auch der Einladung entnehmen können. </p>

<h2><p>Freitag 13. Juni 2014</p></h2>
<p>Get together im Weingut Ankermühle ab 19:30 Uhr.</p>

<h2><p>Samstag 14. Juni 2014</p></h2>
<p>Um 13 Uhr kirchliche Trauung in der Evangelischen Kirche Geisenheim mit anschließendem Empfang auf Burg Schwarzenstein.</p> <p>Um 12:20 Uhr wird ein Bus-Service von Burg Schwarzenstein zur Kirche angeboten. <br>Im Anschluss an den Gottesdienst fahren die Busse wieder zuruück nach Burg Schwarzenstein.</p><p>Am Abend ab 19 Uhr dort Essen und anschließende Feier.</p>

<h2><p>Sonntag 15. Juni 2014</p></h2>
<p>Zum Ausklang gemeinsames Frühstück auf Burg Schwarzenstein ab 10 Uhr.</p>
<br><br>

<h2><p>Dresscode:</p></h2>

<p>Sind wir mal ehrlich, nicht nur die Damen fragen sich bei einer Hochzeit was sie nur anziehen sollen. Langes oder kurzes Kleid, Anzug oder Smoking? Leider hat es da nicht jeder so leicht wie die Braut!</p>

<p>Wir würden uns freuen, wenn die Damen zu unserer Hochzeit im Kleid kommen und die Herren im Anzug oder Smoking. Auch wenn es am Samstag eine Pause geben wird, soll das nicht heißen, dass sich jeder umziehen muss. Wir wollen das Ganze eher flexibel handhaben. Da man sich bei Hochzeiten in England generell nicht umzieht, wollen wir es jedem freistellen ob er sein Outfit für die Abendveranstaltung ändert. Wem danach ist: los geht's, aber wem das zu viel ist, der bleibt einfach so wie er ist. Machen wir ja auch!</p>

<p>Bezüglich Freitagabend und Sonntagmorgen gibt es keinen speziellen Dresscode. In Smart Casual dürft ihr auf jeden Fall dabei sein!</p>

