<% provide(:title, "Wedding Program") %>

<h1>Program</h1>

<%= image_tag("pic03.jpg", class: "right inline") %>
<strong><p>Friday Night</p></strong>

<p>Welcome drinks at Weingut Ankermühle</p>

<strong><p>Saturday</p></strong>

<p>Church ceremony at Evangelische Kirche Geisenheim followed by a Champagne reception on the lawn at Burg Schwarzenstein.</p>

<p>Evening wedding celebrations at Burg Schwarzenstein.</p>

<strong><p>Sunday</p></strong>

<p>Breakfast on the terrace at Burg Schwarzenstein</p>