<% provide(:title, "Hochzeitsliste") %>
<h1>Hochzeitsliste</h1>

<p>Sobald wir alle Einzelheiten der Hochzeitsliste festgelegt haben, werden wir hier einen Link einstellen. </p>

<p>Wir bitten Euch deshalb, auf diese Seite zurückzukehren, wenn Ihr die Einladung erhalten habt. </p>


