<% provide(:title, "Gift Registry") %>
<h1>Gift Registry</h1>

<p>While the most important present you can get us is your presence at our wedding, we understand that many people like to have something in their hands and therefore we are in the process of putting together a list of things we would really enjoy. </p>

<p><i>Please check back here once you have received the invitation to find details on our registry list.</i></p>