<% provide(:title, "Die Umgebung") %>
<h1>Die Umgebung</h1>

<%= image_tag("pic07.jpg", class: "right inline") %>
<p>Wie Ihr dieser Homepage entnehmen könnt, findet unsere Hochzeit auf Burg Schwarzenstein statt. Burg Schwarzenstein liegt mitten im Rheingau, der, wie viele von Euch wissen, für seine Weine bekannt ist. </p>

<p>Folglich dreht sich im Rheingau eigentlich alles rund um den Wein, und wir können euch nur empfehlen Euch während des Wochenendes ein wenig umzuschauen. </p>

<p>Wir haben im Rahmen der Vorbereitungen unserer Hochzeit auch immer wieder neue Sachen in der Umgebung erkundet und haben unsere Lieblings-Aktivitäten für Euch zusammengefasst:</p>

<ul>
	<li><p>Ein Spaziergang durch die Weinberge: Mitte Juni sollten die Weinberge schon ergrünt sein und man kann hoffentlich auch schon ein paar Trauben sehen. Gibt es eine bessere Zeit als ein bisschen durch die Weinberge zu laufen? Vor allem wenn man dabei noch was lernen kann: Geisenheim hat seinen ganz eigenen <a href="http://www.weinlehrpfade.de/rheingau/geisenheim/geisenheim.htm">Weinlehrpfad</a>.</p></li>

	<li><p>Besuch eines Weinguetes: In der Umgebung von Burg Schwarzenstein gibt es viele aktive Weingüter, die weit über den Rheingau hinaus berühmt sind. Wie wäre es mit einem Rundgang durch diese Weingüter, inklusive kleiner Kostrobe? Wir steuern am liebsten folgende Weingüter an <a href="http://www.schloss-johannisberg.de/en/">Schloss Johannisberg</a> and <a href="http://www.schlossvollrads.com/en.html">Schloss Vollrads</a></p></li>

	<li><p>Bootsfahrt auf de Rhein: Wenn Euch danach ist, ein bisschen mehr vom Rheingau zu sehen, empfehlen wir Euch eine Bootsfahrt auf dem Rhein. Vom Boot aus hat man eigentlich den besten Blick auf die Weinberge. In Sachen Route könnte man zum Beispiel von Rüdesheim in der Nähe von Burg Schwarzenstein nach Trechtinghausen fahren. Das dauert etwa 40 Minuten und je nach dem wonach Euch ist, nehmt Ihr von da ein Taxi zurück (10km) oder Ihr setzt Euch aufs nächste Boot das wieder Richtung Rüdeseim fährt. Details bzgl. Strecken und Presie findet ihr <a href="http://www.bingen-ruedesheimer.com/rhine-cruise/lorelei/">hier</a>.</p></li>
		
	<li><p>Fahrradtour am Rhein: Wie wäre es mit einer Fahrradtour entlang des Rheins? Dabei kann man den Blick auf die Weinberge genießen, aber auch einfach mal direkt in die Weinberge reinfahren. </p></li>
	
	<li><p>Oder ist Euch mehr nach Kultur und Geschichte? Auch damit kann der Rheingau dienen: In der Nähe von Burg Schwarzenstein befindet sich das <a href="http://www.niederwalddenkmal.de">Niederwalddenkmal</a>. Mit der Gondel von Rüdesheim aus kann man der Germania ganz bequem einen Besuch abstatten!</a></p>
</ul>