<% provide(:title, "Gift Registry") %>
<h1>Gift Registry</h1>

<p>The most important thing for us is your presence at our wedding, and we know many of you have a long way to travel, so please don't feel obliged to get a gift.  We understand that many of you may still like to give us something so we have put together a list of things we would really enjoy.  </p>
<center><br>
<a href="http://wunschliste.lorey.de/en/wedding-1/hochzeit-stefanie-phil-726/" class="btn btn-lg btn-primary">Gift List @ Lorey</a></center>

