<% provide(:title, "The Region") %>
<h1>The Region</h1>

<%= image_tag("pic07.jpg", class: "right inline") %>
<p>Our wedding venue Burg Schwarzenstein is located in the middle of the Rheingau region, which is located approximately 30 miles to the west of Frankfurt. The main focus of the region is on producing wine as the river Rhein with its relatively steep banks provide the perfect setting for vineyards. </p>

<p>Consequently everything in the Rheingau revolves around wine, wine-making and the river and there are many things one can do. If you have some time during our wedding weekend and want to have a look around, we suggest considering the following:</p>

<ul>
	<li><p>Go for a walk in the vineyards: In June, the vineyards should be in full bloom and it’ll be nice to walk through them. Just don’t pick the grapes, they actually don’t taste that nice.</p> </li>

	<li><p>Visit some of the castles in the area: In the Rheingau, you can find many beautiful castles which are nice to visit, free of charge and fun to explore. Most of these castles are active vineyards these days so while you visit them you can try a glass or two and who knows, maybe even buy a bottle to take home.  Two of our favourites are <a href="http://www.schloss-johannisberg.de/en/">Schloss Johannisberg</a> and <a href="http://www.schlossvollrads.com/en.html">Schloss Vollrads</a></p></li>

	<li><p>Go for a cruise on the river Rhein: If you want to venture a little bit further than just the local area, why not explore the area from a boat? For example, board the ship at Rüdesheim near the venue and stay on board for 40 minutes to Trechtingshausen. From there it’s about 9 miles back to Geisenheim where the wedding will take place. That’s doable by taxi, or if you enjoyed it so much, why not hop back on another boat going back to Rüdesheim? Details on schedule and prices can be found <a href="http://www.bingen-ruedesheimer.com/rhine-cruise/lorelei/">here</a>.</p></li>

	<li><p>Cycle along the banks of the river Rhein: Wanna be a bit more active? No problem, rent a bike and cycle along the banks of the river Rhein. That way you can still take in the beautiful scenery, but are also a little bit more independent.</p></li>
</ul>