<% provide(:title, "Hochzeitsliste") %>
<h1>Hochzeitsliste</h1>

<p>Das Wichtigste für uns ist und bleibt, dass wir unsere Hochzeit mit allen unseren Verwandten und Freunden feiern und genießen können. Da viele von Euch weite Wege auf sich nehmen um dabei zu sein, erwarten wir keineswegs, dass zusätzlich Geschenke für uns mitgebracht werden. </p>
	
<p>Wir wissen aber auch, dass viele von Euch sich mit einer kleinen Geste wohler fühlen und haben deswegen eine Liste voller Dinge, die uns freuen würden, zusammengestellt: </p>

<center><br>
<a href="http://wunschliste.lorey.de/de/hochzeit-1/hochzeit-stefanie-phil-726/" class="btn btn-lg btn-primary">Hochzeitsliste @ Lorey</a></center>



