<% provide(:title, "Gift Registry") %>
<h1>Gift Registry</h1>

<p>The most important thing for us is your presence at our wedding, and we know many of you have a way to travel, so please don't feel obliged to get a gift.  We understand that many of you may still like to give us something so we are in the process of putting together a list of things we would really enjoy. </p>

<p>The list won't be released until shortly before we are ready to send the invitations so please check back here once you have received your invitation to find details on our gift registry list.</p>