<% provide(:title, "UAWG") %>
<h1>UAWG</h1>

<p>Um uns die Planung über die nächsten Wochen und Monate zu erleichtern, bitten wir Euch ein paar Fragen zu beantworten.  Keine Angst: Ihr könnt Eure Meinung ohne Probleme ändern und den Fragebogen auch noch mehrmals ausfüllen!</p>

<div class="script"><h2><p>Vielen Dank</p>
<p>Steffi und Phil</p></h2></div>

<br>
<iframe src="https://docs.google.com/forms/d/1ktx9UiKBDAJFWAPmdCmQCTxTdVqU1iFH1ApqCJXOFTs/viewform?embedded=true" width=100% height=1370 frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>