<% provide(:title, "RSVP") %>
<h1>RSVP</h1>

<p>In order to facilitate the planning of our wedding, we put together a few questions for you. We would really appreciate it if you could take a second to go through it.  If something changes or doesn't quite fit in the form then please <%= link_to "contact us", contact_path %>. </p>

<div class="script"><h2><p>Thank you very much,</p>

<p>Steffi and Phil</p></h2></div>

<br>
<iframe src="https://docs.google.com/forms/d/1ktx9UiKBDAJFWAPmdCmQCTxTdVqU1iFH1ApqCJXOFTs/viewform?embedded=true" width=100% height=1370 frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>