<% provide(:title, "RSVP") %>
<h1>RSVP</h1>

<p>In order to facilitate the planning of our wedding, we put together a few questions for you. We would really appreciate it if you could take a second to go through it. </p>

<p>Thank you very much,</p>

<p>Steffi and Phil</p>