<% provide(:title, "Kennwort zurücksetzen")%>
<h1>Kennwort zurücksetzen</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
			<%=	f.label :email%>
			<%=	f.text_field :email%>

			<%= f.submit "Kennwort zurücksetzen", class: "btn btn-large btn-primary"%>
		<% end%>
	</div>
</div>