<p>Dear <%= @user.name %>,</p>
	
<p>Thanks for registering at our <%= link_to "wedding website", home_url(locale: I18n.locale) %>.  We'll continue to keep this site up to date as we get more details organised so please check back if you have any questions or you can also just reply to this email.</p>
	
<p>We look forward to celebrating our special day with you.</p>

<p>Kind regards,</p>

<p>Steffi and Phil</p>