<p><%= @user.name %>,</p>
	
<p>Vielen Dank für den Besuch auf und die Registrierung zu unserer <%= link_to "Hochzeits-Homepage", home_url(locale: I18n.locale) %>.  Über die nächsten Wochen und Monate hinweg, werden wir die Seite kontinuierlich updaten und neue Informationen einstellen, sodass es sich lohnt, immer mal wieder reinzuschauen. Jegliche fragen können auf der Homepage gestellt werden oder auch direkt per Antwort auf diese E-mail.</p>
	
<p>Wir freuen uns darauf im Juni 2014 mit unsere Familie und allen unseren Freunden zu feiern. </p>

<p>Viele liebe Grüße,</p>

<p>Steffi und Phil</p>



