<% provide(:title, "Register") %>
<h1>Register</h1>

<p>Thanks for visiting our wedding page.  So that not just anyone can access all the details we'd like you to just quickly register, please provide your name and e-mail address below, we'll send you a quick e-mail to confirm the address and then we'll be all set!</p>
