@import "bootstrap";
@font-face {
	font-family: 'MyAmaze';
	src: font-url('amaze.ttf');
	src: font-url('amaze.ttf') format('truetype');
	}
	
$grayMediumLight: #eaeaea;
$lightGray: #999;

html {
	overflow-y: scroll;
}

body {
	background: url(vine-br.png), url(vine-tl.png);
	background-color: #f6f6d4;
	background-repeat:no-repeat;
	background-position: right bottom, top left;
	background-attachment: fixed;
	padding-top: 60px;
	padding-bottom: 40px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: 'MyAmaze';
	font-size: 1em;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

div.script {
	font-family: 'MyAmaze';		
	font-size: 1.3em;	
}

h2 {
	font-size:1.35em;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

ol {
	line-height: 1.7em;
	margin-left: 300px;
	li {
		font-size: 1.1em;
		line-height: 1.7em;
	}
}

#logo {
	font-family: 'MyAmaze';
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 8px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

#language:hover {
	background-color: transparent;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	color: $lightGray;
	a {
		color: #555;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		margin-bottom: 0px;
		li {
			float: left;
			margin-left: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

img {
	&.inline {
		padding: 15px;
		margin: 10px;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
} 

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $lightGray;
		&:last-child {
			border-bottom: 1px solid $lightGray;
		}
	}
}

