<div class="span1 pull-right center">
	<ul class="nav">
		<li><%= link_to image_tag("EN.png"), params.merge({:locale => :en}) %></li>
		<li><%= link_to image_tag("DE.png"), params.merge({:locale => :de}) %></li>
	</ul>
</div>
