<div class="col-md-2 pull-right center">
	<ul class="nav">
<h2><%= link_to image_tag("EN.png"), params.merge({:locale => :en}), id: "language" %><%= link_to image_tag("DE.png"), params.merge({:locale => :de}), id: "language" %></h2>
	</ul>
</div>
